<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
</head>
<body class="home">
    <header class="home--header">
        <div class="home--header--box--logo">
        <img class="home--header--logo" src="/img/logo.jpg" alt="img-logo">
        </div>
        <a href="" class="home__header--bars" ><i class="fa fa-bars"></i></a>
        <nav class="home__header__nav--menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/porfolio">porfolio</a></li>
                <li><a href="/sucursales">sucursales</a></li>
                <li><a href="/contacto">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="home__main">
        <div class="home__main__section--banner">
        <img  src="/img/img-banner.jpg" alt="img-banner">
        </div>
        <section class="home__main__section--products">
            <article class="home__main__section--article">
                <div class="home__main__section__article--box">
                <img class="home__main__section__article--image" src="/img/img-pdto-1.jpg" alt="imagen-copas">
                <img class="home__main__section__article--sticker" src="/img/img-nuevo.png" alt="imagen de nuevo">
                <a class="home__main__section__article--zoom" href="">ampliar foto</a>
                </div>
                <h4 class="home__main__section__article--title">Lorem ipsum dolor</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex accusantium aliquid neque esse laboriosam architecto dolorem!</p>
                <a class="home__main__section__article--more" href="">ver más</a>
            </article>
            <article class="home__main__section--article">
                <div class="home__main__section__article--box">
                <img class="home__main__section__article--image" src="/img/img-pdto-2.jpg" alt="imagen-productos">
                <img class="home__main__section__article--sticker" src="/img/img-gratis.png" alt="img-gratis">
                <a class="home__main__section__article--zoom" href="">ampliar foto</a>
                </div>
                <h4 class="home__main__section__article--title">Lorem ipsum dolor</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex accusantium aliquid neque esse laboriosam architecto dolorem!</p>
                <a class="home__main__section__article--more" href="">ver más</a>
            </article>
            <article class="home__main__section--article">
                <div class="home__main__section__article--box">
                <img class="home__main__section__article--image" src="/img/img-pdto-3.jpg" alt="imagen-lugar">
                <img class="home__main__section__article--sticker" src="/img/img-descuento.png" alt="img-descuento">
                <a class="home__main__section__article--zoom" href="">ampliar foto</a>
                </div>
                <h4 class="home__main__section__article--title">Lorem ipsum dolor</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex accusantium aliquid neque esse laboriosam architecto dolorem!</p>
                <a class="home__main__section__article--more" href="">ver más</a>
            </article>
            <article class="home__main__section--article">
                <div class="home__main__section__article--box">
                <img class="home__main__section__article--image" src="/img/img-pdto-1.jpg" alt="imagen-copas">
                <img class="home__main__section__article--sticker" src="/img/img-gratis.png" alt="img-gratis">
                <a class="home__main__section__article--zoom" href="">ampliar foto</a>
                </div>
                <h4 class="home__main__section__article--title">Lorem ipsum dolor</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex accusantium aliquid neque esse laboriosam architecto dolorem!</p>
                <a class="home__main__section__article--more" href="">ver más</a>
            </article>
            <article class="home__main__section--article">
                <div class="home__main__section__article--box">
                <img class="home__main__section__article--image" src="/img/img-pdto-2.jpg" alt="imagen-productos">
                <img class="home__main__section__article--sticker"  src="/img/img-nuevo.png" alt="imagen de nuevo">
                <a class="home__main__section__article--zoom" href="">ampliar foto</a>
                </div>
                <h4 class="home__main__section__article--title">Lorem ipsum dolor</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex accusantium aliquid neque esse laboriosam architecto dolorem!</p>
                <a class="home__main__section__article--more" href="">ver más</a>
            </article>
            <article class="home__main__section--article">
                <div class="home__main__section__article--box">
                <img class="home__main__section__article--image" src="/img/img-pdto-3.jpg" alt="imagen-lugar">
                <img class="home__main__section__article--sticker"  src="/img/img-descuento.png" alt="img-descuento">
                <a class="home__main__section__article--zoom" href="">ampliar foto</a>
                </div>
                <h4 class="home__main__section__article--title">Lorem ipsum dolor</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex accusantium aliquid neque esse laboriosam architecto dolorem!</p>
                <a class="home__main__section__article--more" href="">ver más</a>
            </article>
        </section>
    </main>
    <footer class="home__footer">
        <nav class="homde__footer__nav--menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/porfolio">porfolio</a></li>
                <li><a href="/sucursales">sucursales</a></li>
                <li><a href="/contacto">contacto</a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>